<div class="range-slider">
  <div class="range-slider__wrap">
    <div class="range-slider__bar">
      <div class="range-slider__scale" style="width: 60%;"></div>
    </div>
    <div class="range-slider__toggle">
      <input id="sliderCurrentValue" type="text" value="{{currentValue}}">
    </div>
    <div class="range-slider__controls">
      <button id="rangeSliderBtnMinus">-</button>
      <button id="rangeSliderBtnPlus">+</button>
    </div>
  </div>
</div>