<div class="range-slider__wrap">
  <div class="range-slider__bar">
    <div class="range-slider__scale" style="transform: scale({{scaleWidth}}, 1);"></div>
  </div>
  <div class="range-slider__toggle" style="transform: translate({{togglePosition}}%, 0px);">
    <input class="range-slider__handle" type="text" value="{{currentValue}}">
  </div>
</div>
