<fieldset>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Текущее значение:
      <input type="text">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Шаг:
      <input type="text">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Минимальное значение:
      <input type="text">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Максимальное значение:
      <input type="text">
    </label>
  </p>
</fieldset>
<fieldset>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Показывать текущее значение:
      <input type="checkbox">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Шкала:
      <input type="checkbox">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Диапазон:
      <input type="checkbox">
    </label>
  </p>
  <p class="config-panel__value">
    <label class="config-panel__label">
      Вертикальный слайдер:
      <input type="checkbox">
    </label>
  </p>
</fieldset>