.container {
  padding: 20px;
  padding-top: 40px;
}

.box-container {
  display: flex;
}

.box-container .box {
  width: auto;
  margin-right: 170px;
}

.box {
  width: 350px;
  margin-bottom: 50px;
}

.box--vertical {
  height: 350px;
}
