body {
  color: #eee6e6;
  background: #121212;
}

.container {
  padding: 20px;
}

.page-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1em;
}

.config-panel {
  width: 400px;
  margin: 0 1em;
}

.config-panel__slider {
  margin-bottom: 50px;

  &--vertical {
    height: 400px;
  }
}

.config-panel__title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: normal;
}

@import '../slider/style/style.scss';
