html {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #eee6e6;
  background: #121212;
}

.container {
  padding: 10px 20px;
}

.page-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1em;
}

@import './config-panel/style.scss';
